@use "/../styles/partials/_variables.scss" as *;

.header__container {
    background-color: $colour-secondary-background;
    width: 100%;
    height: auto;
    display:flex;
    justify-content: space-between;
    padding: 1rem;
    min-height: 5rem;
  }
  
  .logo {
    width: 5rem;
  }