@use "/../styles/partials/_variables.scss" as *;
@use "/../styles/partials/_mixins.scss" as *;

.search-bar {
    width: 90%;
    padding: .5rem;
    margin: 1rem;
    border-radius: .5rem;
    outline: none;
    border: none;
    border: 1px solid $colour-button-border;
    @include font-body;
    @include tablet {
        @include font-body-tablet;
    }

    &__container {
        @include flex-center;
    }
  }
  
  