@use "/../styles/partials/_variables.scss" as *;
@use "/../styles/partials/_mixins.scss" as *;

.nav__heading {
  color: $colour-secondary-text;
  text-decoration: none;
  @include font-header;
  font-size: 1rem;
  @include tablet {
    @include font-header-tablet;
    font-size: 1.5rem;
  }

  &:hover {
    color: $colour-highlight-accent;
  }
}

.nav__link {
  text-decoration: none;

  &.active {
    border-bottom: 2px solid $colour-highlight-accent;
    color: $colour-highlight-accent;
  }
}

.nav__container {
  display: flex;
  align-items: end;
  flex-direction: column;
}
