@use "/../styles/partials/_variables.scss" as *;

.nav__heading {
    color: $colour-secondary-text;

    &:hover {
        color: $colour-highlight-accent;
    }
}
  
.nav__container {
    display: flex;
    align-items: center;
    gap: 1rem; 
    justify-content: flex-end;
  }
  