@use "./variables" as *;
@use "./mixins" as *;
@use "./fonts" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    color: $colour-secondary-text;
    @include font-header;
}
h2 {
  color: $colour-primary-text;
  @include font-header-second;
}
h4 {
  color: $colour-primary-text;
  margin-bottom: .5rem;
  @include font-body-header;
}

a {
    text-decoration: none;
}

p {
  margin-bottom: .5rem;
  @include font-body;
}
button {
  @include font-body;
}