
$colour-primary-text: black;
$colour-secondary-text:white;
// $primary-background-colour:
$colour-secondary-background: #01161e;
$colour-secondary-border: #b7cec9;
$colour-highlight: #124559;
$colour-highlight-second: #598392;
