@use "/../styles/partials/_mixins.scss" as *;

.favourites {
  &__logo {
    width: 50%;

    &-container {
      @include flex-center;
      margin: 2rem 0;
      @include tablet {
        margin: 2.5rem 0 4rem 0;
      }
    }
  }

  &-page {
    @include tablet {
      margin: 2rem 2.5rem;
    }
  }
}
