@use "/../styles/partials/_variables.scss" as *;
@use "/../styles/partials/_mixins.scss" as *;

.venue__images {
    width: 12.5rem;
    margin-top: .5rem;

    &-card{
        background-color: $colour-highlight-accent;
        width: 14rem;
        margin: 1rem;
        flex-direction: column;
        border-radius: .5rem;
        @include flex-center
            
    }
}
