@use "/../styles/partials/_variables.scss" as *;

.footer {
  &__container {
    width: 100%;
    background-color: $colour-secondary-background;

    &-text-icons {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem 0 1rem;
    }
  }

  &__title {
    color: $colour-secondary-text;
  }

  &__contact-text {
    color: $colour-secondary-text;
  }
}

.social__icons-img {
  padding: 0 .5rem;
}
