@use "/../styles/partials/_variables.scss" as *;

.footer {
  &__container {
    width: 100%;
    height: 20vh;
    background-color: $colour-secondary-background;
  }
  &__title {
    color: $colour-secondary-text;
  }

//   &__link-one--space,
//   &__link-two--space {
//     display: flex;
//     flex-direction: column;
//     padding: 0.5rem 0;
//     @include tablet {
//       display: flex;
//     }
//   }
  &__link--underline {
    text-decoration: none;
    color: $colour-secondary-text;
    padding: 0.2rem;

  }
  
// .social__icons {
//   padding: 1rem 0;
//   @include desktop {
//     display: flex;
//     justify-content: flex-end;
//     padding: 2.5rem 1rem 0 6rem;
//   }
//   & a {
//     padding-right: 1rem;
//   }
// }
}