@use "/../styles/partials/_variables.scss" as *;
@use "/../styles/partials/_mixins.scss" as *;

.venue-details {
  margin: 1rem;
}

.venue__image {
  width: 100%;
  border-radius: 10%;;
  border: 1rem solid $colour-highlight-accent;

  &-container {
    @include flex-center;
  }
}
.days__container,
.times__container {
  display: flex;
  gap: 0.625rem;
  margin: 20px 0;
  flex-wrap: wrap;
}

.day__button,
.time__button {
  padding: 0.625rem 0.9375rem;
  border: 2px solid $colour-button-border;
  background: $colour-secondary-text;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.2s;
  &.selected {
    color: $colour-secondary-text;
    border-color: $colour-secondary-background;
  }
}

.day__button.selected {
  background: $colour-highlight;
}

.time__button.selected {
  background: $colour-highlight-second;
}

.deal {
  &__item {
    background: $colour-highlight-accent;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.625rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    list-style: none;
    &__price {
      font-weight: bold;
      color: $colour-secondary-background;
    }
  }
}

.filter__container {
    margin: 2rem 1rem;
}

.back__link {
  display: flex;
  justify-content: flex-start;
  align-items: self-start;
  gap: .5rem;
  cursor: pointer;
  margin: 1rem 0; 

  &-image {
    filter: invert(0%) brightness(0%);
  }
}

.favourite__button-card {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    z-index: 3;
    right: 3rem;
    bottom: .5rem;
    cursor: pointer;
  
    &.liked {
      color: $colour-secondary-text;
    }
  
    &:hover {
      transform: scale(1.1);
    }
  }
  