@use "/../styles/partials/_variables.scss" as *;
@use "/../styles/partials/_mixins.scss" as *;

.comments {
  &-display__container {
    margin: 0 1rem;
  }

  &-name-date__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
  }
  &-text {
    padding-top: 1rem;
  }
  &__title,
  &-text {
    padding-bottom: 1rem;
  }
}


.comments__buttons-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.comments__button-edit , 
.comments__button-delete ,
.comments__button-save ,
.comments__button-cancel {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    width: 5rem;
    cursor: pointer;
}