@use "/../styles/partials/_variables.scss" as *;
@use "/../styles/partials/_mixins.scss" as *;

.map__container {
  height: 100vh;
  margin: 1rem;
  display: flex;
  border: 0.5rem solid $colour-highlight-accent;
  border-radius: 2%;
  @include tablet {
    margin: 2.5rem;
  }
}

.info-window__container {
  background-color: $colour-highlight-accent;
  display: flex;
  flex-direction: column;
  width: 10rem;

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
}
