@use "/../styles/partials/_variables.scss" as *;
@use "/../styles/partials/_mixins.scss" as *;

form {
  margin: 2rem 1rem;
}
.form {
  &__name,
  &__comment {
    border-style: none;
    outline: none;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    min-width: 17.5rem;
    min-height: 1.875rem;
    padding: 0.5rem;
    border: 1px solid $colour-secondary-background;

    &--invalid {
      border: 2px solid $colour-error;
    }
  }
  &__comment {
    padding-bottom: 2rem;
    height: 4rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    @include font-body;
    @include tablet {
      @include font-body-tablet;
    }
  }
}
.submit {
  &__container {
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: $colour-highlight-accent;
    }
  }
}
